@import url("https://db.onlinewebfonts.com/c/c7b48d5c13a7bfeac062a7a75a3b9b43?family=DrescherGroteskBTW01-Book");
body {
  background-image: url(./hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  background-color: rgb(255, 255, 255);
}
main {
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  text-align: center;
  display: block;
  box-sizing: border-box;
}
.header {
  margin-top: 8%;
position: relative;
bottom: 2em;
  font-weight: 400;
  font-size: 1.5rem;
  font-family:"Questrial"; 
  font-weight: 600;
}
.header-2 {
  margin-top: 3%;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.first-par {
  font-size: 1em;
  font-family: "Questrial";
  line-height: 1.5em;
  margin-top: 1em;
  font-weight: 600;
  color: gray;
}

.button-1 {
  background-color: rgb(231, 51, 43);
  color: white;
  border: transparent;
  height: 3em;
  margin-right: 2em;
  width: 15%;
  font-size: 1em;
}
.button-2 {
  background-color: #fff;
  border: 1px solid rgb(231, 51, 43);
  height: 3em;
  width: 20%;
  font-size: 1em;
}
button {
  margin-top: 5%;
}
.button-1:hover {
  background-color: transparent;
  color: rgb(231, 51, 43);
  border: 1px solid rgb(231, 51, 43);
}
.button-2:hover {
  background-color: rgb(231, 51, 43);
  color: #fff;
}

.word-highlight-1 {
  color: rgb(231, 51, 43);
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

.wh2 {
  color: rgb(231, 51, 43);
}
.header-3 {
  padding-top: 25em;
  font-family: "Questrial";
  font-size: 1em;
}
.par-2 {
  font-family: "Questrial";
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;
}
.header-3 {
  color: rgb(231, 51, 43);
}
.main-div {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  height: 30em;
  padding-top: 2em;
}
.left {
  background-color: rgb(255, 250, 250);
  padding: 1em;
  font-family: "Questrial";
  font-size: 1em;
  margin-right: 2%;

  font-weight: 600;
}
.centre {
  background-color: rgb(255, 250, 250);
  padding: 1em;
  font-family: "Questrial";
  font-size: 1em;

  font-weight: 600;
}
.right {
  background-color: rgb(255, 250, 250);
  padding: 1em;
  font-family: "Questrial";
  font-size: 1em;
  margin-left: 2%;

  font-weight: 600;
}
.head-1 {
  background-color: #fff;
  padding-right: 6em;
  box-sizing: border-box;
  width: 40%;
  height: 20%;
  padding-top: 2em;
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 5%;
  font-weight: 600;
  padding-left: 1em;
}
.first {
  color: rgb(231, 51, 43);
  font-family: "Questrial";
  font-size: 1em;
  font-weight: 600;
  word-spacing: 2px;
  /* margin-bottom: 2em; */
  position: relative;
  top: 2em;
  right:3em ;
  text-decoration: none;

}
.par-7 {
  color: gray;

  justify-content: center;
  margin: auto;

  text-align: center;
  line-height: 1.5em;
  width: 81%;
}
.par-8 {
  color: gray;

  justify-content: center;
  margin: auto;

  text-align: center;
  line-height: 1.5em;
  width: 91%;
  ;
}
.par-9{
  color: gray;

  justify-content: center;
  margin: auto;

  text-align: center;
  line-height: 1.5em;
  width: 80%;
}
.down-head{
  display: flex;
  justify-content: space-around;
  font-family: "Questrial";
  font-size: 1em; 
  font-weight: 400;
  padding-top: 15em;
}
.ln-1{
  padding: 9px;
  font-family: "Questrial";
  font-weight: 600;
  color: rgb(231, 51, 43);
  text-decoration: none;

}
.ln-2{
  margin-top: 1em;
  font-weight: 600;
  color: rgb(231, 51, 43);
  text-decoration: none;
}
.con-1{
  color: gray;
  font-size: 14px;
  
  font-weight: 500;
}
.contact{
  position: relative;
  right: 3em;
}
  
.down-head{
  font-family: "Questrial";
  font-weight: 500;
}
.ln-1, .ln-2{
  color: rgb(231, 51, 43);
}
.con-2{
  color: rgb(231, 51, 43);
  margin-top: 1em;
  font-weight: 600;
  text-decoration: none;
}
#fb{
  color: rgb(58,85,159);
}
#tw{
  color: rgb(29,161,242);
}
#insta{
  color: rgb(214,36,110);
  
}

#in{
  color:rgb(1,119,181);
}
  .dot{
    color: rgb(231, 51, 43);
    font-family: "Poppins", sans-serif;
    font-size: 1em;

  }
  .dh-1{
    font-size: 1.5em;
  }
  .h{
    width: 90%;
    height: 3px;
    border: 0 none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    background-color: rgb(220,219,219);
  }
  
  .lag{
    margin-right: 8em;
  }
  .icons{
    font-size: 1.5em;
  }
    
 .dh-2{
  font-weight: 600;
  color: rgb(51, 49, 49);
 } 
  .dh-3{
    color: rgb(51, 49, 49);
  }
  .con-2{
    margin-left: 2em;
    font-family: "poppins";
    font-size: 13px;
  }
  .con-1{
    margin-left: 9.5em;
  }
  .footer{
    margin-top: 2em;
    padding-bottom: 8em;
    font-family: "Questrial";
    font-weight: 700;
    font-size: 1em;
  }


